{% for project in include.projects %}
{% capture color %}{% cycle 'purple', 'blue', 'teal' %}{% endcapture %}
<div class="row project-container project-{{color}} justify-content-end align-items-center p-0 mx-5 my-2 position-relative">
  <!-- <div class="project-container"> -->
    <figure class="project-image-container col-tablet-4 col-10 bg-{{color}} m-0 position-absolute">
      <div class="project-image">
        <img src="{{project.thumbnail_image}}" alt="{{project.thumbnail_alt}}" style="object-position: {{project.thumbnail_position | default: 'left top'}}">
      </div>
      <a href="{{project.url}}"><span class="sr-only">view project {{project.title}}</span></a>
    </figure>
    <div class="text-container col-tablet-10 col-10 bg-med-gray">
      <div class="text-wrap pl-5">
        <h3 class="text-{{color}}">{{project.title}}</h3>
        <p>{{project.excerpt}}</p>
        <div><a href="{{project.url}}" class="text-{{color}}">learn more &rsaquo;</a></div>

      </div>
    <!-- </div> -->
  </div>
</div>
{% endfor %}
