@media screen and (min-width: $xl) {
  main, .nav-container, footer {
    width: 1200px;
    margin: auto;
  }
  main {
    width: 1200px;
    h1 {
      font-size: 200px;
      line-height: 1em;
    }
    nav .nav-container {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: $md) {
  .row.justify-content-end {
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
  .project-container {
    flex-direction: column;
    padding: 1rem;
    align-items: flex-start !important;
    &.project-purple {
      background: rgba($purple, 0.05);

    }
    &.project-teal {
      background: rgba($teal, 0.05);

    }
    &.project-blue {
      background: rgba($blue, 0.05);

    }
    figure {
      position: relative;
      box-shadow: unset !important;
      background: transparent;
      width: 100%;
      height: auto;
      &:hover {
        transform: scale(1);
      }
    }
    .text-container {
      padding: 1.5rem !important;
      background: transparent !important;
      .text-wrap {
        padding: 0;
      }
    }
  }
}
