@media screen and (min-width: $xl) {
  main, .nav-container, footer {
    width: 1200px;
    margin: auto;
  }
  main {
    width: 1200px;
    h1 {
      font-size: 200px;
      line-height: 1em;
    }
    nav .nav-container {
      margin-left: 0;
    }
  }
}

@media screen and (max-width: $md) {
  .row.justify-content-end {
    justify-content: flex-start;
    margin-left: 1.5rem;
  }
}
