nav {
  width: 100%;
  position: fixed;
  background: rgba($light, 0.9);
  backdrop-filter: blur(5px);
  min-height: 50px;
  top: 0;
  z-index: 1000;
  ul {
    align-items: center;
    li {
      list-style-type: none;
      margin: 0 10px;
      &:last-child {
        margin-right: 20px;
      }
      }
      .brand {
        flex-grow: 2;
        a {
          background: $gradient;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 32px;
          letter-spacing: -0.5px;
          transition: transform 0.3s ease-in-out;
          display: inline-block;
          &::before, &::after {
            content: none;
          }
          &:hover {
            transform: scale(1.1);
          }
        }
      }

      a.active::after {
        transform: scaleX(1);
      }
  }

  // svg path {
  //   fill: $teal;
  //   fill: $gradient;
  // }
}

main nav {
  position: relative;
  li:first-child {
    margin-left: 0;
  }
}
