/*****
COLORS
*****/

$teal: #05A8AA;
$purple: #7B43CC;
$blue: #0C7DD5;
$dark: #0D1321;
$light: #FAFBFC;
$light-blue: #F3F6F7;
$light-gray: #D2D4D6;
$med-gray: #777B83;
$red: #CC435A;

$gradient: linear-gradient(90deg, $purple 0%, $blue 50%, $teal 100%);

$sm: 540px;
$md: 800px;
$lg: 1100px;
$xl: 1400px;


@use "sass:map";

$theme-colors: (
 "teal": $teal,
 "purple": $purple,
 "blue": $blue,
 "dark": $dark,
 "light": $light,
 "light-blue": $light-blue,
 "med-gray": $med-gray,
 "red": $red,
);

@each $name, $color in $theme-colors {
  .bg-#{$name} {
    background: $color;
    &:focus {
      box-shadow: 0 0 0 3px rgba($color, 0.5);
      outline: none;
    }
  }
  .bg-#{$name}-5 {
    background: rgba($color, 0.05);
  }
  .text-#{$name} {
    color: $color;
  }
  .btn.bg-#{$name} {
    border: 2px solid $color;
    &:hover {
      background: rgba($color, 0);
      border-color: $color;
      color: $color !important;
    }
  }
}

$fw-light: 300;
$fw-demi: 600;
$fw-bold: 700;

* {
  box-sizing: border-box;
  font-family: urbane, sans-serif;
  color: $dark;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 20vw;
  letter-spacing: -0.5vw;
  line-height: 1.1em;
  margin: 0;
  color: $teal;
  .g-highlight {
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

h2 {
  font-weight: $fw-light;
  font-size: calc(20px + 1vw);
  margin-left: 5px;
}

h3 {
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: lowercase;
  margin-top: 60px;
  margin-bottom: 10px;
}

p, li {
  font-size: 18px;
}

main {
  width: 95vw;
  margin: 50px auto;
}

footer {
    width: 95vw;
    margin: 50px auto 0;
    padding: 20px 2.5rem;
}

.bullet-purple {
  list-style: none;
  margin-top: 0;
  li::before {
  content: "\2022";
  color: $purple;
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}
}

a {
  text-decoration: none;
  font-weight: $fw-bold;
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
  &::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.2s ease-out;
    background: rgba($dark, 0.2);
  }
  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -6px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in 0.1s;
    background: $dark;
  }
  &.text-blue{
    &::before {
      background: rgba($blue, 0.2);
    }
    &::after {
      background: $blue;
    }
  }
  &.text-teal{
    &::before {
      background: rgba($teal, 0.2);
    }
    &::after {
      background: $teal;
    }
  }
  &.text-purple{
    &::before {
      background: rgba($purple, 0.2);
    }
    &::after {
      background: $purple;
    }
  }
  &.text-med-gray{
    &::before {
      background: rgba($med-gray, 0.2);
    }
    &::after {
      background: $med-gray;
    }
  }
  &:hover {
    &::before, &::after {
      transform: scaleX(1);
    }
  }
}

span.sr-only {
  clip: rect(0 0 0 0);
clip-path: inset(50%);
height: 1px;
overflow: hidden;
position: absolute;
white-space: nowrap;
width: 1px;
}
